*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid var(--tg-theme-bg-color);
    position: relative;
}

.username {
    font-size: 20px;
}

.cart-button {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.count {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}